[submodule "frontend"]
	path = frontend
	url = https://github.com/enclavr/frontend.git
[submodule "server"]
	path = server
	url = https://github.com/enclavr/server.git
[submodule "infra"]
	path = infra
	url = https://github.com/enclavr/infra.git
[submodule "docs"]
	path = docs
	url = https://github.com/enclavr/docs.git
